@font-face {
    font-family: odin;
    src: url('./fonts/Norse-Bold.otf');
}

:root {
    --left-width: 25%;
    --right-width: calc(100%-var(var(--left-width)))
    --min-left-width: 300px;
    --right-padding: 2rem;
    --background-color:#F5F5F4;
    --text-font: sans-serif;
    --footer-color:  #0068cd;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
}

.left {
    width: var(--left-width);
    min-width: var(--min-left-width);
    flex-shrink: 0;
}

#splash{
    position: absolute;
    width: var(--left-width);
    min-width: var(--min-left-width);
    height:100vh;
}

.hero {
    height:15%;
    width: var(--left-width);
    min-width: var(--min-left-width);
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    font-family: odin;
    top: 11rem;
    color: white;
}

.words {
    font-size: 60px;
    font-weight: bold;
}

#logo {
    max-height: 6rem;
    width: auto;
    
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    height: 35.5%;
    flex-direction: column;
    justify-content: flex-end;
    
    background-color: var(--background-color);
    padding-bottom: 1rem;
    width: auto;
}

.main {
    
    width: 100%;
    display: flex;
    height:29%;
    flex-direction: column;
    justify-content: flex-start;
    
    padding-right: -20px;
    padding-top: 1rem;
    box-shadow: 1px 3px 5px #d3d3d3;
    z-index: 1;
}

form {
    font-family: var(--text-font);
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: var(--right-padding);
    display: flex;  
    padding-bottom: 1rem;
}

fieldset{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: none;
    margin-right: 3.5rem;
}


.text {
    margin-left: var(--right-padding);
    font-family: var(--text-font);
    font-weight: bolder;
    font-size: 22px;
    width: 50%;
    margin-bottom: 1.5rem;
}

.form-text {
    margin-left: var(--right-padding);
    font-family: var(--text-font);
    font-weight: bolder;
    font-size: 22px;
    width: 50%;
    margin-bottom: 1.5rem;
    margin-bottom: 0;;
}

.invalid-pass {
    color: white;
}

.invalid-pass-dummy{
    color: white;
}

.footer {
    font-family: var(--text-font);
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
    font-size: 15px;
}

.small-text {
    width:50%;
    margin-left: var(--right-padding);
}

button {
    
    background-color: var(--footer-color);
    width: 14%;
    height: 15%;
    min-width: 150px;
    border-style: none;
    border-radius: 5px;
    font-family: var(--text-font);
    font-weight: bolder;
    color: white;
    margin: 2rem var(--right-padding);
}

input {
    outline: none;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: #d3d3d3;
    height: 1.2rem;
    padding: 1px 5px;
}

.password:invalid {
    border: 1px solid red;
    
}

label {
    margin-top: 1rem;
}

input[type=text]:focus {
    border: 1px solid blue;
    box-shadow: 1px 1px 5px #d3d3d3;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 1px 1px 5px #d3d3d3;
}


input:invalid {
    border-style: solid;
}

button:active {
    opacity: 80%;
    box-shadow: 1px 1px 5px #d3d3d3;
}

a {
    color: var(--footer-color);
    text-decoration: none;
    font-weight: bolder;
}