@font-face {
    font-family: odin;
    src: url('./fonts/Norse-Bold.otf');
}

:root {
    --left-width: 25%;
    --min-left-width: 300px;
    --right-padding: 2rem;
    --background-color:#F5F5F4;
    --text-font: sans-serif;
    --footer-color: #3f5a36;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
}

.left {
    width: var(--left-width);
    min-width: var(--min-left-width);
    flex-shrink: 0;
}

#splash{
    position: absolute;
    width: var(--left-width);
    min-width: var(--min-left-width);
    height:100%
}

.hero {
    height:15%;
    width: var(--left-width);
    min-width: var(--min-left-width);
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    font-family: odin;
    top: 11rem;
    color: white;
}

.words {
    font-size: 60px;
    font-weight: bold;
}

#logo {
    max-height: 6rem;
    width: auto;
    
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: var(--right-padding);
    background-color: var(--background-color);
    padding-bottom: 1rem;
}

.main {
    height:27%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: var(--right-padding);
    padding-top: 1rem;
    box-shadow: 1px 3px 5px #d3d3d3;
    z-index: 1;
}

form {
    font-family: var(--text-font);
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bold;

    display: flex;  
}

fieldset{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: none;
    margin-right: 3.5rem;
}


.text {
    font-family: var(--text-font);
    font-weight: bolder;
    font-size: 22px;
    width: 50%;
    margin-bottom: 1.5rem;
}

.footer {
    font-family: var(--text-font);
    height: 33%;
    width: 100vw;
    padding-left: var(--right-padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
    font-size: 15px;
}

button {
    background-color: var(--footer-color);
    width: 14%;
    height: 15%;
    border-style: none;
    border-radius: 5px;
    font-family: var(--text-font);
    font-weight: bolder;
    color: white;
    margin: 2rem 0;
}

input {
    outline: none;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: #d3d3d3;
    height: 1.2rem;
    margin-bottom: 1rem;
    padding: 1px 5px;
}

input[type=text]:focus {
    border: 1px solid blue;
    box-shadow: 1px 1px 5px #d3d3d3;
}

input:active {
    border: 1px solid blue;
    box-shadow: 1px 1px 5px #d3d3d3;
}


input:invalid {
    border-style: solid;
}

a {
    color: var(--footer-color);
    text-decoration: none;
    font-weight: bolder;
}